infradata.info, blog.infradata.info, test.infradata.info {
   root * /var/www/html
   php_fastcgi wordpress:9000
   file_server
   
   #tls {
   #   ca https://acme-staging-v02.api.letsencrypt.org/directory
   #}
}
